<footer>
    <section class="footersection">
        <div class="institucional">
            <h2>Institucional</h2>
            <ul>
                <li><a href="/politica">Política de Privacidade</a></li>
                <li><a href="/trabalheConosco">Trabalhe Conosco</a></li>
                <li><a href="/sobre">Sobre</a></li>
            </ul>
        </div>
        <div class="ajuda">
            <h2>Ajuda</h2>
            <ul>
                <li><a href="">Trocas e Devoluções</a></li>
                <li><a href="/minhaConta">Minha Conta</a></li>
            </ul>
        </div>
        <div class="central">
            <h2>Central de Relacionamentos</h2>
            <div>
                <a href="">Tire suas dúvidas</a>
            </div>

        </div>
    </section>
</footer>