<header>
    <nav class="nav">
        <a href="/"><img class="logo" src="img/index/—Pngtree—football_799345.png" alt="Logo"></a>
        <a href="/"><h1 class="sports">K2Sports</h1></a>
        <div class="search">
            <input type type="text" id="buscar" name="buscar" class="buscar" placeholder="O que você procura?">
            <button class='button' id="button"><i class="fa fa-search"></i></button>
        </div>
        <% if (user.nome == null || user.nome == undefined) { %> 
            <div class="usuario">
                <i class="fa fa-user"></i>
                <a href="http://localhost:3000/"><p>Login</p></a>
            </div>
            <% } else { %> 
            <div class="usuario">
                <i class="fa fa-user"></i>
                <p>Olá, <%= user.nome  %> </p>
            </div>
        <% } %> 
    </nav>
</header>