<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>K2Sports </title>
    <link rel="stylesheet" href="/css/sucesso-img.css">
</head>

<body>

    

    <main>
        <div class="conteiner">
            <div>
                <h1> <%= opcao %> </h1>
            </div>
            <div>
                <form action="/" method="get">
                    <button> <h2>Voltar</h2> </button>
                </form>
            </div>
        </div>
        
    </main>

   
</body>

</html>