@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700&display=swap');


* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    min-width: 1280px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px 39px 9px 19px;
    
}

.nav-links {
    display: flex;
}

.nav-links li {
    list-style: none;
    margin-right: 170px;
    font-weight: 900;
    font-size: 24px;
}
.nav-links li a {
    text-decoration: none;
    color: #777777;
    text-transform: uppercase;
}
b{
    color: red;
}
