<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/login.css">
    <title>Pagina cadastro</title>
</head>

<body>

    <%- include('../partials/header') %>

    <main class="tamanho-login">

        <section class="container">
            <form action="/" id="inicio"></form>
            <div class="formulario">
                <p class="login">Cadastro:</p>
                
                <form action="/register" method="post">
                    <label for="email">Nome:</label>
                    <br>
                    <input type="text" class="tamanho-place" name="nome" id="nome" placeholder="Digite seu nome">
                    <br>
                    <label for="email">E-mail:</label>
                    <br>
                    <input type="email" class="tamanho-place" name="email" id="email" placeholder="Digite seu e-mail">
                    <br>
                    <label for="password">Senha:</label>
                    <br>
                    <input type="password" class="tamanho-place" name="password" id="password" placeholder="Digite sua senha">
                    <br>
                    <label for="confirmPassword">Confirmar Senha:</label>
                    <br>
                    <input type="Password" class="tamanho-place" name="confirmPassword" id="confirmPassword" placeholder="Digite sua senha">
                    <br>
                    <input class="submitBack" type="submit" value="Voltar" form="inicio">
                    <input class="submit" type="submit" value="Cadastrar" onclick="fim()">
                    
                </form>
                
            </div>

        </section>
    </main>
    
    <%- include('../partials/footer') %>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.29/dist/sweetalert2.all.min.js"></script>

    <script>
        function fim(){
            Swal.fire({
            icon: 'sucess',
            title: 'Oops...',
            text: 'Something went wrong!',
            confirmButtonText: '<a href="https://sweetalert2.github.io/#download">teste</a>',
        })
        }
    </script>
    
</body>

</html>