<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/global.css">
        <link rel="stylesheet" href="/css/carrinho.css">
        <title>Pagina cadastro</title>
    </head>

<body>

    <%- include('../partials/header') %>

        <main>
           
            <br>
            <h1>Parabéns! você ganhou frete grátis pela K2 Sports</h1>

            <section>
                <div class="descricao">
                    <img src="/img/index/NQQ-7755-068_zoom1.webp" alt="Camisa Flamengo">
                        <p id="camisa">Camisa Flamengo</p>
                        <p id="preco">R$ 270,00</p>
                    </div>
                 
                <p>pra este cola l tem que vir a imgem com todos as informações do produto</p>
                <br>
                <br>
                <h4>Vendido e entregue por K2 Sports</h4>
                <br>
                <h4>Tamanho: M</h4>
            </section>
            <br>
            <article>
                <br>
                <h4>Quantidade - 1 +</h4>
                <br>
                <button>Ver mais produtos</button>
                <br>
                <br>
                <h4>Simule frete e prazo de entrega</h4>
                <br>
                <label for="quantity">*CEP:</label>
                <br>
                <input type="number" id="quantity" name="quantity" min="1" max="10">
                <br>
                <br>
                <button>Calcular</button>
            </article>
            <br>
            <br>
            <aside>
                <p>Subtotal ( 1 Item ) R$449.00</p>
                <br>
                <br>
               
                <p>Frete     K2         grátis</p>
               
                <br>
                <br>
                <p>Cupom de desconto     adicionar</p>
               
                <br>
                <br>
                <p>Valor Total             R$449.00</p>
                <br>
                <br>
                <p>Em até 8x sem juros</p>
                
                <br>
                <br>
                <button>FINALIZAR COMPRA</button>
                <br>
                <br>
                <button>ESCOLHER MAIS PRODUTOS</button>
                <br>
                <br>
                        <h5>COMPRA SEGURA</h5>
            </aside>
            <br>
            
        </main>

        <%- include('../partials/footer') %>

</body>

</html>