<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="css/loginv2.css">
    <title>Login</title>
</head>

<body>
    
    <%- include('../partials/header') %>
    
    <main class="tamanho-login">

        <section class="container">
            <div class="formulario">
                <p class="login">Login:</p>
                
                <form action="">
                    <label for="email">E-mail:</label>
                    <input type="email" class="tamanho-place" name="email" id="email" placeholder="Digite seu e-mail">
                    <br>
                    <label for="password">Senha:</label>
                    <input type="password" class="tamanho-place" name="password" id="password" placeholder="Digite sua senha">
                    <br>
                    <input class="submit" type="submit" value="Acessar Conta">
                    
                </form>

                <a  id="senha" href="http://localhost:3000/cadastro">Cria conta</a>
                <br>
                <a  id="senha" href="esquecisenha.html">Esqueci minha senha</a>
                
            </div>

        </section>
    </main>

    <%- include('../partials/footer') %>

</body>

</html>