<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/sobre.css">
    <title>Pagina cadastro</title>
</head>

<body>

    <%- include('../partials/header') %>

        <main>
            <br>
            <h1>Sobre</h1>
            <br>
            <br>
            <br>
            <div>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem aperiam in aliquam quas dolore nam esse perspiciatis nulla. Provident explicabo aperiam accusamus inventore perferendis amet dolorem aliquam, tenetur placeat voluptates!
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure omnis et modi beatae ex iste magnam nesciunt voluptate obcaecati, mollitia expedita sapiente debitis, reiciendis eligendi provident neque quisquam quo odit!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse quae saepe, nobis beatae tenetur ipsum! Similique molestias perspiciatis tempore obcaecati possimus ipsum, doloribus eum. Impedit qui accusantium quos eos? Quasi.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel, reprehenderit? Molestias cumque at, magni recusandae distinctio voluptatum porro autem placeat? Quaerat repellat voluptatum provident dignissimos placeat omnis blanditiis voluptatem quae.
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. In fuga voluptas inventore ut, qui architecto! Ipsam error esse officiis quisquam exercitationem, cupiditate adipisci? Maxime hic rem, cumque vitae numquam natus.
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt pariatur cum quia alias unde architecto? Consectetur libero nemo dignissimos totam aut, itaque nisi commodi voluptatibus beatae praesentium sit, ad ipsam.
            </div>
            <br>
            <br>
            <div>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem aperiam in aliquam quas dolore nam esse perspiciatis nulla. Provident explicabo aperiam accusamus inventore perferendis amet dolorem aliquam, tenetur placeat voluptates!
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure omnis et modi beatae ex iste magnam nesciunt voluptate obcaecati, mollitia expedita sapiente debitis, reiciendis eligendi provident neque quisquam quo odit!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse quae saepe, nobis beatae tenetur ipsum! Similique molestias perspiciatis tempore obcaecati possimus ipsum, doloribus eum. Impedit qui accusantium quos eos? Quasi.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel, reprehenderit? Molestias cumque at, magni recusandae distinctio voluptatum porro autem placeat? Quaerat repellat voluptatum provident dignissimos placeat omnis blanditiis voluptatem quae.
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. In fuga voluptas inventore ut, qui architecto! Ipsam error esse officiis quisquam exercitationem, cupiditate adipisci? Maxime hic rem, cumque vitae numquam natus.
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt pariatur cum quia alias unde architecto? Consectetur libero nemo dignissimos totam aut, itaque nisi commodi voluptatibus beatae praesentium sit, ad ipsam.
            </div>
            <br>
            <br>
            <div>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem aperiam in aliquam quas dolore nam esse perspiciatis nulla. Provident explicabo aperiam accusamus inventore perferendis amet dolorem aliquam, tenetur placeat voluptates!
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure omnis et modi beatae ex iste magnam nesciunt voluptate obcaecati, mollitia expedita sapiente debitis, reiciendis eligendi provident neque quisquam quo odit!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse quae saepe, nobis beatae tenetur ipsum! Similique molestias perspiciatis tempore obcaecati possimus ipsum, doloribus eum. Impedit qui accusantium quos eos? Quasi.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel, reprehenderit? Molestias cumque at, magni recusandae distinctio voluptatum porro autem placeat? Quaerat repellat voluptatum provident dignissimos placeat omnis blanditiis voluptatem quae.
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. In fuga voluptas inventore ut, qui architecto! Ipsam error esse officiis quisquam exercitationem, cupiditate adipisci? Maxime hic rem, cumque vitae numquam natus.
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt pariatur cum quia alias unde architecto? Consectetur libero nemo dignissimos totam aut, itaque nisi commodi voluptatibus beatae praesentium sit, ad ipsam.
            </div>
            <br>
            <br>

        </main>

        <%- include('../partials/footer') %>

</body>

</html>