<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/trabalheConosco.css">
    <title>trabalheConosco</title>
</head>

<body>

    <%- include('../partials/header') %>

        <main>
            <section class="nav">
                <br>
                <br>
                <form action="">
                    <h1>Trabalhe Conosco</h1>
                </form>
                <br>
                <br>
                <br>

            </section>
            <h4>Candidate-se</h4>
            <br>
            <div>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel cupiditate nulla eaque non hic iusto in
                obcaecati aspernatur deserunt animi beatae maxime nostrum voluptas numquam totam, culpa placeat? Beatae,
                ad.
            </div>
            <div>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique dolore suscipit quisquam consequatur
                possimus exercitationem illo, voluptate a id aliquam blanditiis. Tenetur laboriosam ipsum architecto
                saepe error quaerat nemo neque.
            </div>
            <br>
            <br>
            <section class="nav">
                <form action="">
                    <div>
                        <h3><b>Dados Pessois</b></h3>
                        <br>
                        <br>
                        <label for="nome">*Nome Completo:</label>
                        <br>
                        <input type="text" id="nome" name="nome" placeholder="Digite seu nome" required>
                        <br>
                        <br>
                        <label for="data">*Data Nascimento:</label>
                        <br>
                        <input type="date" id="data" name="data">
                        <br>
                        <br>
                        <label for="nome">*Endereço:</label>
                        <br>
                        <input type="text" id="nome" name="nome" placeholder="Digite Aqui!" required>
                        <br>
                        <br>
                        <label for="quantity">*N:</label>
                        <input type="number" id="quantity" name="quantity" min="1" max="10">
                        <br>
                        <br>
                        <label for="nome">*Complemento:</label>
                        <br>
                        <input type="text" id="nome" name="nome" placeholder="Digite Aqui!" required>
                        <br>
                        <br>

                    </div>
                </form>

                <form action="">
                    <div class="mb-3">
                        <label for="quantity">*CEP:</label>
                        <br>
                        <input type="number" id="quantity" name="quantity" min="1" max="10">
                        <br>
                        <br>
                        <label for="nome">*Bairro:</label>
                        <br>
                        <input type="text" id="nome" name="nome" placeholder="Digite Aqui!" required>
                        <br>
                        <br>
                        <label for="nome">*Cidade:</label>
                        <br>
                        <input type="text" id="nome" name="nome" placeholder="Digite Aqui!" required>
                        <br>
                        <br>
                        <label for="phone">Telefone:</label>
                        <br>
                        <input type="tel" id="phone" name="phone" placeholder="Digite seu Telefone">
                        <br>
                        <br>
                        <label for="email">E-mail:</label>
                        <br>
                        <input type="email" id="email" nome="email" placeholder="email@me.com" required>
                        <br>
                        <br>
                    </div>
                </form>
                <form action="">
                    <div class="mb-3">
                        <label>*Sexo:</label>
                        <br>
                        <input type="radio" id="masculino" name="genero" value="sim" checked><label
                            for="masculino">Masculino</label>
                        <input type="radio" id="feminino" name="genero" value="nao"><label
                            for="feminino">Feminino</label>
                            <br>
                            <br>
                            <label>*Estado Civil:</label>
                        <br>
                        <input type="radio" id="masculino" name="genero" value="sim" checked><label
                            for="masculino">Casado(a)</label>
                        <input type="radio" id="feminino" name="genero" value="nao"><label
                            for="feminino">Solteiro(a)</label>
                            <br>
                            <br>
                            <label>*Empregado Atualmente:</label>
                        <br>
                        <input type="radio" id="masculino" name="genero" value="sim" checked><label
                            for="masculino">Sim </label>
                        <input type="radio" id="feminino" name="genero" value="nao"><label
                            for="feminino">Não</label>
                        <br>
                        <br>
                    </div>
                </form>
            </section>

            <br>
            <br>
            </form>
            </div>
            </section>

        </main>

        <%- include('../partials/footer') %>

</body>

</html>