<!DOCTYPE html>
<html lang="Pt-Br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/sucesso-img.css">
    <title>Produto cadastrado com Sucesso</title>
</head>
<body>
    <div class="conteiner">
        <div>
            <h1>Produto <%= opcao %> com sucesso !</h1>
        </div>
        <div>
            <form action="/adm/servicos" method="get">
                <button> <h2>Voltar</h2> </button>
            </form>
        </div>
    </div>
    
</body>
</html>